$base-color: #238ce2;
$text-color: #ffffff;  
$color-accent: #031aab;

.button {
    margin: auto;
    display: flex;   
    justify-content: center;
    align-items: center;    
    padding: 15px 50px;    
    width: fit-content;    
    background-color: $base-color;   
    border-radius: 9999px;       
    color: $text-color;   
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;  
        &:hover {
            background-color: $color-accent; 
            transform: scale(1.05);
          }     
                   
  }

  button {
    outline: none; // Прибирає чорну обводку при фокусі
    border: none; // Прибирає стандартну рамку
    width: auto; 

    &:focus {
      outline: none;
    }
  } 