@use 'buttons';
@use 'variables' as *;

.header {
    background: $color-white;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    
    &__container {
      margin: 0 auto; 
      display: flex;
      align-items: center;
      justify-content: space-between; 
    }
  
    &__logo {
      img {
        align-items: center;
        padding-top: 0.8rem;
        padding-bottom: 0.6rem;
        height: 70px;
        width: auto;
      }
    }
  
    &__menu {
      display: flex;
      gap: 20px; /* відступи між пунктами меню */
      padding: 0; /* скидання стандартних відступів */
      margin: 0; 
      list-style: none;
      flex-wrap: wrap;
      align-items: center;
  
      a {
        color: $soft-black;
        text-decoration: none;
        transition: color 0.3s, box-shadow 0.3s;
  
        &:hover {
          color: $base-color-button;
          text-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
        }
      }
    }
  
    &__hamburger {
      display: none;
      cursor: pointer;
      background-color: $base-color-button;
      width: 40px;
      padding: 5px 2px;
      border-radius: 5px;
      
        .bar {
          display: block;
          width: 25px;
          height: 2.2px;
          margin: 5px auto;
          -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
          background-color: #ffffff;
        }
    }
  }
  
  // Мобільна версія
  @media (max-width: 768px) {
    .header {
      &__hamburger {
        display: block;
        z-index: 999;

        &.active .bar{
          top: 0;  
        }
        &.active{
          top: 0;  
        }
      }

      &__logo {
        display: block;
        z-index: 999;
      }

      &__menu {
        position: fixed;
        top: -100%;
        left: 0;
        right: 0;
        background: #ffffff;
        display: flex;            
        flex-direction: column;
        padding: 2rem 0;
        width: 100%;
        text-align: center;
        transition: top 0.4s ease-in-out;     
        &.active {
          top: 0;               
        }
      }
      
      .nav-item {
        margin: 5px 0;
      }
    }
  }
  