@use 'buttons';
@use 'variables' as *;

.header {
    background: $color-white;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
  
    &__container {
      margin: 0 auto; 
      padding: 0 $base-horizontal-padding; 
      display: flex;
      justify-content: space-between; 
      align-items: center;
    }
  
    &__logo {
      img {
        align-items: center;
        padding: 0.8rem;
        height: 70px;
        width: auto;
      }
    }
  
    &__menu {
      display: flex;
      gap: 20px; /* відступи між пунктами меню */
      padding: 0; /* скидання стандартних відступів */
      margin: 0; 
      list-style: none;
      flex-wrap: wrap;
      align-items: center;
  
      a {
        color: $soft-black;
        text-decoration: none;
        transition: color 0.3s, box-shadow 0.3s;
  
        &:hover {
          color: $base-color-button;
          text-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
        }
      }
    }
  
    &__hamburger {
      display: none;
      background: none;
      border: 0;
      cursor: pointer;
    }
  }
  
  // Мобільна версія
  @media (max-width: 768px) {
    .header {
      &__menu {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: $color-white;
        padding: 2rem;
        
        &.is-active {
          display: block;
        }
      }
  
      &__hamburger {
        display: block;
      }
    }
  }