
$base-color-button: #228ce2;
$text-color-button: #ffffff;  
$color-accent: #2a46fb;
$line-color: #6abcff;

$blue-background: #5555ff;
$gray-background:  #ececec;
$color-white: #ffffff;
$soft-black: #5d5d5d;

$base-horizontal-padding: 15%;
$base-verical-padding: 25px;
$link-text-color: rgb(0, 89, 255);

$quote-size: 1.8em;