
$base-color-button: #337ab7;
$text-color-button: #ffffff;  
$color-accent: #2a46fb;
$line-color: #6abcff;

$blue-background: #3599db;
$gray-background:  #ececec;
$color-white: #ffffff;
$soft-black: #90929a;
$title-color: #333333;

$base-horizontal-padding: 15%;
$base-verical-padding: 25px;
$link-text-color: rgb(0, 89, 255);

$quote-size: 1.8em;